In [56]:
#Salary table for Sian
sian_salary = 250000
tax_rate = 0.40
sian_netincome = sian_salary - (sian_salary * tax_rate)

#Salary table for Derek
derek_salary = 450000
derek_netincome = derek_salary - (derek_salary * tax_rate)

In [62]:
#combined household income
total_householdincome = sian_netincome + derek_netincome

In [76]:
print(f"total_householdincome: ${total_householdincome}")

total_householdincome: $420000.0

In [92]:
print(f"what's left in the kitty: ${total_householdincome}")

what's left in the kitty: $420000.0

In [94]:
print("the hat in the cat spent all the money $", total_householdincome)

the hat in the cat spent all the money $ 420000.0

In [104]:
sian_salary == derek_salary and derek_salary != sian_salary

False

In [106]:
derek_salary >= sian_salary

True

In [126]:
not derek_salary == sian_salary

True

# sdfsf


Great  
Great 

1. werw
2. sdfsd

* sdfsd
* sdfsf

[www.afr.com]

```
# perform this
profit_per_bag = cost_of_icebag * .10

### Lesss goooo


lET'S GO and test this commit